@import '../design/var/index.scss';

$prefix-cls: #{$namespace}-button;
.#{$prefix-cls} {
  min-width: 120px;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
  background-color: #f44;
  border: none;
  border-radius: 30px;
  transition: opacity 0.2s linear;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  &:active {
    opacity: 0.6;
  }
}

@each $subfix, $color in (--primary, #{$-color--primary}),
  (--success, #{$-color-success}), (--info, #{$-color-info}),
  (--waning, #{$-color-waning}), (--danger, #{$-color-danger})
{
  .#{$prefix-cls}#{$subfix} {
    color: $-base-white;
    background: $color;
    border-color: $color;
  }
}
